[submodule ".vim/pack/aurel/start/vim-airline"]
	path = .vim/pack/aurel/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/aurel/start/vim-colorscemes"]
	path = .vim/pack/aurel/start/vim-colorscemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/pack/aurel/start/vim-clang-format"]
	path = .vim/pack/aurel/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule ".vim/pack/aurel/start/fzf"]
	path = .vim/pack/aurel/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/aurel/start/vim-multiple-cursors"]
	path = .vim/pack/aurel/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/pack/aurel/start/nerdtree"]
	path = .vim/pack/aurel/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".tools/diff-so-fancy"]
	path = .tools/diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
[submodule ".vim/pack/aurel/start/ale"]
	path = .vim/pack/aurel/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".tools/bash-git-prompt"]
	path = .tools/bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule ".vim/pack/aurel/start/anderson"]
	path = .vim/pack/aurel/start/anderson
	url = https://github.com/gilgigilgil/anderson.vim.git
